.card-img-fixed {
     height: 200px;         /* chiều cao cố định cho tất cả ảnh */
    object-fit: cover;     /* ảnh sẽ vừa khung, cắt bớt nếu cần */
    width: 100%;   
}



.card-img-container {
    width: 100%;
    height: 250px;      
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;      
    overflow: hidden;
}

.card-img-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.card-content-box {
    height: 100px;      
    overflow: hidden; 
    margin-bottom: 15px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-author {
    color: #6c757d;
    font-size: 0.9rem;
    margin-top: 5px;
}


.card-body {
    padding: 1.25rem;
    background-color: #f8f9fa; 
}